:root {
    --black: #000000;
    --dark-gray: #555555;
    --gray: #2e2e2e;
    --light-gray: #d3d3d3;
    --cyan: #222121;
    --white: #ffffff;
    --pink: #ff2d55; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif; 
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-editor {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--dark-gray);
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--cyan);
}

.code {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--gray);
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
}

h1 {
    font: 600 1.5rem 'Josefin Sans', sans-serif; 
    margin: 1rem 0;
    color: var(--light-gray);
}

h1 > img {
    width: 1.5rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.code textarea {
    width: 100%;
    height: calc(120% - 4rem);
    background-color: var(--dark-gray);
    color: var(--light-gray);
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    resize: vertical;
    border-radius: 0.5rem;
    font-family: 'Source Code Pro', monospace; 
}

#result {
    width: 110%;
    height: calc(100% - 4rem);
    margin: 1rem 0;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--dark-gray);
}

.fullscreen-btn {
    margin-left: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--light-gray);
    font-size: 1rem;
    transition: color 0.3s, transform 0.2s; 
    font-family: 'Josefin Sans', sans-serif; 
}

.fullscreen-btn:hover {
    color: var(--pink);
    transform: scale(1.1); 
}

.code.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--dark-gray);
    padding: 1rem;
    overflow-y: auto;
}






